.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.flex-container2{
    display: flex;
    height: 150px;
    border: 2px solid black;
    max-width: 300px;
}

.item{
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
    line-height: 50px;
}

.nowrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap: wrap;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.orange{
    background-color: orangered;
}

.flex-item{
    background-color: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}
.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.row-reverse li{
    background-color: red;
}

.column{
    float: left;
    flex-direction: column;
}

.column li{
    background-color: rgb(160, 160, 35);
}

.column-inverse{
    float: right;
    flex-direction: column-reverse;
}

.column-inverse li{
    background-color: rgb(209, 47, 74);
}

.flex-container3{
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid black;
    max-width: 500px;
}

.item2{
    background-color: blue;
    margin: 20px;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
}
 .wrap{
    flex-flow: row wrap;
 }

 .r-nowrap{
     flex-flow: row-reverse nowrap;
 }
 
 .r-wrap{
     flex-flow: row-reverse wrap;
 }

 .space-between{
     justify-content: space-between;
 }

 .flex-container4{
     max-width: 500px;
     border: 1px solid green;
     margin: 0;
     display: flex;
 }

 .item3{
     background-color: hotpink;
     color: white;
     margin: 5px;
     text-align: center;
 }

 .space-around{
     justify-content: space-around;
 }